<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crave</title>
    <style>
        h1 {
            font-size: 130px;
            text-align: center;
            align-items: center;
        }
        nav {
            display: flex;
            gap: 500px;
        }
    </style>
</head>
<body>
    <h1>Welcome to Home.</h1>
</body>
</html>